<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="#">
        <img src="https://media.istockphoto.com/id/1217751550/vector/big-cheeseburger-with-little-flag-on-black.jpg?s=612x612&w=0&k=20&c=8eSawdzN8R_Jc0oaGAYjwIyS72ZShaNoqmYI72l3l0M=" height="60" alt="" loading="lazy" />
      </a>
  
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/product-list">Productos</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/listado-clientes">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reporte-venta">Reportes de Ventas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"routerLink="/listar-comentarios">Comentarios</a>
          </li>
         
        </ul>
        <!-- Left links -->
  
        <!-- Search form -->
        <form class="d-flex input-group w-auto">
          <input type="search" class="form-control" placeholder="Type query" aria-label="Search" />
          <button class="btn btn-outline-primary" type="button" data-mdb-ripple-color="dark" style="padding: .45rem 1.5rem .35rem;">
            Buscar
          </button>
        </form>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">CHILDREN</a>
          </li>
          <!-- Navbar dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle hidden-arrow" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-bell"></i>
            </a>
            
            <!-- Dropdown menu -->
            
          </li>
        </ul>
  
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->