<!-- product-list/product-list.component.html -->

<p class="titulo">Listado de Platos</p>
<a routerLink="/insertar-plato" class="boton-insertar">Insertar Producto</a>

    <table class="table table-striped">
      <!-- Cabecera de la tabla -->
      <thead>
        <tr>
          <th>Nombre De Plato</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Nombre de la Categoria</th>
          <th>Categoria</th>
          <th>Imagen</th>
          <th>Acciones</th>
          <!-- Otros campos... -->
        </tr>
      </thead>
      <!-- Cuerpo de la tabla -->
      <tbody>
        <!-- Iterar sobre los platos y mostrar cada uno -->
        <tr *ngFor="let plato of platos">
          <td>{{ plato.nomPlato }}</td>
          <td>{{ plato.descripcion }}</td>
          <td>{{ plato.precio}}</td>
          <td>{{ plato.categoriaNombre}}</td>
          <td>{{ plato.categoria}}</td>
          <td><img [src]="plato.imagen" class="imagen-pequena"></td>
          <td>
            <i [routerLink]="['/editar-plato', { id: plato.platoId}]" class="bi bi-pencil-fill"></i> <span>  </span>
            <i class="bi bi-trash-fill" (click)="abrirModalEliminar(plato.platoId, modalEliminar)"></i>
          </td>
          <!-- Otros campos... -->
        </tr>
      </tbody>
    </table>

    <!-- Template del modal -->
<ng-template #modalEliminar let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirmar Eliminación</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    ¿Estás seguro de que deseas eliminar este elemento?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel click')">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="confirmarEliminar()">Eliminar</button>
  </div>
</ng-template>